.coloredCircle {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: #444;
  margin: 0 15px 0 7px;
  transition: .1s;
}

.coloredCircle__wrong {
  @extend .coloredCircle;
  background-color: #d62c1a;
}

.coloredCircle__right {
  @extend .coloredCircle;
  background-color: #00bc8c;
}
